*{
    padding: 0%;
    margin: 0%;
}
.menu{
    width: 100%;
    height: 45px;
    background-color: rgb(39, 98, 207);
}
.menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.menu ul li{
    color: white;
    list-style: none;
    font-size: 22px;
    line-height: 45px;
}